*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
}
.top-navigation{
    display:flex;
    background-color: #C4A484;
    height: 60px;
}
.navbar-right img{
    width: 60px;
    border-radius: 30px;
    /* margin-bottom: 50px; */
    margin-left: 20px;
}
.navbar-left{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.navbar-left li{
    list-style-type: none;
}
.navbar-left img{
    width:20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
} 
.nav-link{
    color: brown;
    display: flex;
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
}
.nav-item a:hover{
    text-decoration: underline;
    color: white;

}
.group-hours{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 50px;
    flex-wrap: wrap;
}
.group-details address{
    font-size: 20px;
    margin:15px 0px;
}

.group-details img{
    width:600px;
}

.hr{
    height:20px;
    border-width:0;
    background-color: black;
}
.homepage-bottom{
    display: flex;
    justify-content: center;
}
.homepage-bottom img{
    max-width:600px;
}
.history-library h3{
    font-size: 30px;
    color: black;
    margin-top: 20px;
    text-align: center;
}
.history-library p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}
@media   (max-width:860px){
    .hours-table{
    margin-bottom:100px;
    }
    
    
}
