*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    scroll-behavior: smooth;  
}
.top-navigation{
    display:flex;
    background-color: #C4A484;
    height: 60px;
}
.navbar-left img{
    width: 60px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    
}
.nav-item{
    display: flex;
    margin-left: 100px;
    margin-top: 15px;
}
.navbar-right{
    display: flex;
    float:right;
    gap: 2em;
}
.nav-link{
    color: brown;
    display: flex;
}
.navbar-right img{
    width:20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.login-form{
    background-color: bisque;
}
button {   
    background-color: #4CAF50;   
    width: 200px;  
     color: orange;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
      }       
input[type=text], input[type=password] {   
     width: 200px;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid green;   
     box-sizing: border-box;   
 }  
button:hover {   
     opacity: 0.7;   
 }   
.cancelbtn {   
     width: auto;   
     padding: 10px 18px;  
     margin: 10px 5px;  
 }  

 .welcome h1{
    font-size: 30px;
    color: brown;
 } 

 .welcome img{
    width: 100px;
    border-radius: 50;
 }
 .fave-books h2{
    font-size: 30px;
    color: brown;
    margin-left: 400px;
 }
 .fave-books img{
    margin-left: 400px;
    width:700px;
 }